<p class="filtering">
  List of transactions for bank account. 


  <button class="filter" id="Credit" (click)="filterCredit">Credit</button>

  <button class="filter" id="Debit" (click)="filterDebit" >Debit</button>

  <button class="filter" id="All">All</button>
  
  <!-- <span>Filter Transaction
    <select>
      <option value=""></option>
      <option value="Deposit">Deposit</option>
      <option value="Withdrawal">Withdrawal</option>
    </select>
  </span> -->
  
</p>

<app-transaction *ngFor="let t of transactionList" [transaction]="t"></app-transaction>

  <!-- <span ng-repeat="t in transactionList"  | pick: 'balance < 0'>Debit</span> -->
