<div>
  <div>
      <div id="approvalCreditLine" *ngIf="request.employeeApprover!==null">
          <p class="card-text" data-toggle="collapse" [attr.data-target]="'#acceptrejectbuttons' + request.id">
              Request ID: {{request.id}} <br>
              APR: {{request.creditAPR}}%<br>
              Created By: {{request.customer.userInfo.firstName}} {{request.customer.userInfo.lastName}}<br>
          </p>
          <div id = "finalApprovalText">
              This request has been approved once before and requires your final approval.
          </div>
          <div id = "acceptrejectbuttons{{request.id}}" class="card-block collapse centerButtons">
            <input class="btn btn-primary" type="submit" value="Approve" (click)="onApprove()">
            <input class="btn btn-primary" type="submit" value="Reject" (click)="onReject()">
          </div>
      </div>
      
      <div id ="normalCreditLine"*ngIf="request.employeeApprover===null">
        <p class="card-text" data-toggle="collapse" [attr.data-target]="'#acceptrejectbuttons' + request.id">
            Request ID: {{request.id}} <br>
            APR: {{request.creditAPR}}%<br>
            Created By: {{request.customer.userInfo.firstName}} {{request.customer.userInfo.lastName}}
        </p>        
        <div id = "acceptrejectbuttons{{request.id}}" class="card-block collapse centerButtons">
          <input class="btn btn-primary" type="submit" value="Approve" (click)="onApprove()">
          <input class="btn btn-primary" type="submit" value="Reject" (click)="onReject()">
        </div>
      </div>
    
  </div>
</div> 

  