
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
        <h1><span class="badge">{{title}}</span></h1>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li  class="nav-item">
                <a *ngIf="route.url!=='/form' && isCustomer()" class="nav-link" routerLink="/form">
                    Credit Lines
                </a>
                <span *ngIf="route.url==='/form' && isCustomer()" class="nav-link font-weight-bold">
                    Credit Lines
                </span>
            </li> 
            <li class="nav-item dropdown" *ngIf="isEmployee()">
                <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Credit Lines</a>      
                <div class=" dropdown dropdown-menu">
                    <a *ngIf="route.url!=='/pendingrequests'" class="nav-link" routerLink="/pendingrequests">
                        View Credit Line Requests
                    </a>
                    <span *ngIf="route.url==='/pendingrequests'" class="nav-link font-weight-bold">
                        View Credit Line Requests
                    </span>
                    <div class="dropdown-divider"></div>
                    <a *ngIf="route.url!=='/autorejects'" class="nav-link" routerLink="/autorejects">
                        Automatically Rejected Credit Lines
                    </a>
                    <span *ngIf="route.url==='/autorejects'" class="nav-link font-weight-bold">
                        Automatically Rejected Credit Lines
                    </span>
                    <!-- Seperator here:
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>-->
                </div>
            </li>
            
            <li class="nav-item" (click)="onLogoutPressed()">
                <a *ngIf="isEmployee() || isCustomer()" class="nav-link font-weight-bold"  routerLink="">
                    Logout
                </a>
            </li>
        </ul>
    </div>
  </nav>
