
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
        <h1><span class="badge">{{title}}</span></h1>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li  class="nav-item">
                <a *ngIf="route.url!=='/form' && isCustomer()" class="nav-link" routerLink="/form">
                Request Credit Line
                </a>
                <span *ngIf="route.url==='/form' && isCustomer()" class="nav-link font-weight-bold">
                Request Credit Line
                </span>
            </li> 
            <li class="nav-item">
                <a *ngIf="route.url!=='/pendingrequests' && isEmployee()" class="nav-link" routerLink="/pendingrequests">
                View Credit Line Requests
                </a>
                <span *ngIf="route.url==='/pendingrequests' && isEmployee()" class="nav-link font-weight-bold">
                    View Credit Line Requests
                </span>
            </li>
            
            <li class="nav-item" (click)="onLogoutPressed()">
                <span *ngIf="isEmployee() || isCustomer()" class="nav-link font-weight-bold">
                    Logout
                </span>
            </li>
        </ul>
    </div>
  </nav>
