
<app-credit-request-list-customer></app-credit-request-list-customer>

<div class = "mainContent centerText">
    <p id = "maintext">
    You can open up a new credit line, simply click the button below to request one.
    </p>
    
    <input class="btn btn-primary" type="submit" value="Request new credit line" (click)="onSubmit()">
    <small id="help1" class="form-text text-muted">Note it may take a few days to be approved by a loan officer.</small>
    <div id ="submissionText">
        {{resultText}}
    </div>
</div>

