<div class="card" style="width: 20rem;">
  <div class="card-block">
    <p class="card-text" data-toggle="collapse" [attr.data-target]="'#acceptrejectbuttons' + request.id">
      Request ID: {{request.id}} <br>
      APR: {{request.creditAPR}}%<br>
      Created By: {{request.customer.userInfo.firstName}} {{request.customer.userInfo.lastName}}
    </p>
  </div>
  <div id = "acceptrejectbuttons{{request.id}}" class="card-block collapse">
      <input class="btn btn-primary" type="submit" value="Approve" (click)="onApprove()">
      <input class="btn btn-primary" type="submit" value="Reject" (click)="onReject()">
    </div>
</div> 

  