
<div *ngIf="request.status==='AUTOREJECT'">
  <div class="card autoRejectCreditLine" style="width: 20rem;">
    <div class="card-block creditLineGradient4 whiteText">
      <p class="card-text" data-toggle="collapse" [attr.data-target]="'#acceptrejectbuttons' + request.id">
        Request ID: {{request.id}} <br>
        Created By: {{request.customer.userInfo.firstName}} {{request.customer.userInfo.lastName}}
      </p>
      
      <div class = "autoRejectText">
        This request was automatically rejected.
    </div>
    </div>
    <div id = "acceptrejectbuttons{{request.id}}" class="card-block collapse ">
        <div class ="centerButtons">
          <label>APR:</label>
          <input type="number" name="inputName" value="5" min="1" max="27" [(ngModel)]="aprValue">%
          <input class="btn btn-primary" type="submit" value="Manually Approve" (click)="onApprove()">
        </div>
      </div>
  </div>
</div> 

<div *ngIf="request.status==='REJECTED'">
  <div class="card rejectCreditLine" style="width: 20rem;">
    <div class="card-block creditLineGradient3 whiteText">
      <p class="card-text" data-toggle="collapse" [attr.data-target]="'#acceptrejectbuttons' + request.id">
        Request ID: {{request.id}} <br>
        Created By: {{request.customer.userInfo.firstName}} {{request.customer.userInfo.lastName}}
      </p>
    </div>
    <div id = "acceptrejectbuttons{{request.id}}" class="card-block collapse ">
        <div class ="centerButtons">
          <label>APR:</label>
          <input type="number" name="inputName" value="5" min="1" max="27" [(ngModel)]="aprValue">%
          <input class="btn btn-primary" type="submit" value="Manually Approve" (click)="onApprove()">
        </div>
      </div>
  </div>
</div>

