<div class="card" style="width: 20rem;">
  <div class="card-block">
    <p class="card-text" data-toggle="collapse" [attr.data-target]="'#acceptrejectbuttons' + request.id">
      Request ID: {{request.id}} <br>
      Created By: {{request.customer.userInfo.firstName}} {{request.customer.userInfo.lastName}}
    </p>
  </div>
  <div id = "acceptrejectbuttons{{request.id}}" class="card-block collapse">
      <label>APR:</label>
      <input type="number" name="inputName" value="5" min="1" max="27" [(ngModel)]="aprValue">%
      <input class="btn btn-primary" type="submit" value="Manually Approve" (click)="onApprove()">
    </div>
</div> 